.home-eight-space-ipad{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}
.home-eight-title-ipad{
    color: #121323;
    font-size: 41px !important;
    line-height: 56px !important;
    font-family: "OpenSans-Bold" !important;
}
.home-eight-description-ipad{
    color: #121323;
    font-size: 26px !important;
    line-height: 36px !important;
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 15px !important;
}
.home-eight-button-ipad{
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}
.home-eight-image-ipad{
    width: 40%;
    position: absolute;
    top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    left: 120px;
}
.button-eight-text-style-ipad{
    color: #121323;
    font-size: 26px !important;
    line-height: 36px !important;
    font-family: "OpenSans-Bold" !important;
    text-transform: none;
    font-weight: bold;
    padding: 5px !important;
}
.image-social-size-ipad{
    width: 100%;
    padding-right: 10px !important;
}