
.home-four-space-ipad{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    position: absolute !important;
    bottom: 100px;
}

.home-four-title-ipad{
    color: white;
    font-size: 41px !important;
    line-height: 56px !important;
    font-weight: bold !important;
    font-family: "OpenSans-Bold" !important;
}

.home-four-description-ipad{
    color: white;
    font-size: 26px !important;
    line-height: 36px !important;
    font-family: 'Open Sans', sans-serif !important;
    position: relative !important;
    margin-top: 30px !important;
}
.home-four-description-detail-mobile-ipad{
    color: #acbac9;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 22px !important;
}
.home-four-button-ipad{
    margin-top: 30px !important;
}
.button-four-text-style-ipad{
    font-size: 26px !important;
    font-family: "OpenSans-Bold" !important;
    line-height: 36px !important;
    font-weight: bold !important;
    padding: 5px;
    text-transform: none;
    color: white !important;
}
