.home-five-space{
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px !important;
    margin-bottom: 10% !important;
}
.home-five-title{
    color: #121323;
    font-size: 26px !important;
    line-height: 30px !important;
    font-family: "OpenSans-Bold" !important;
    /*bottom: 240px;*/
    /*position: absolute !important;*/
    font-weight: bold !important;
}
.home-five-description{
    color: #ffffff;
    font-size: 16px !important;
    line-height: 22px !important;
    font-family: 'Open Sans', sans-serif !important;
    bottom: 140px;
    margin-right: 30px !important;
    position: absolute !important;
}
.home-five-button{
    bottom: 80px;
    position: absolute !important;
}
.video-box{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 45vh !important;
    background-color: black;
}
.home-five-image{
    width: 85%;
    display: block;
    margin-top: 15%;
}
.button-five-text-style{
    color: #ffffff;
    font-size: 16px !important;
    line-height: 22px !important;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: none;
    font-weight: bold;
}
.section-five-style{
    height: 50vh !important;
}
.img-size{
    width: 95%;
}
.home5-name{
    color: #121323;
    font-size: 16px !important;
    line-height: 30px !important;
    font-family: "OpenSans-Bold" !important;
    font-weight: bold !important;
}
.home5-designation{
    color: #121323;
    font-size: 11px !important;
    line-height: 15px !important;
    font-family: 'Open Sans', sans-serif !important;
}
.img-size-social{
    width: 12%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}