.home-five-space-desktop{
    padding-left: 100px !important;
    padding-right: 50px !important;
    padding-top: 100px !important;
    height: 100vh !important;
}
@media (min-width: 1920px) and (max-width: 2560px)  {
    .home-five-space-desktop{
        padding-left: 100px !important;
        padding-right: 50px !important;
        padding-top: 160px !important;
        height: 100vh !important;
    }
    .upper-space{
        padding-top: 190px !important;
    }
}
.home-five-title-desktop{
    color: #121323;
    font-size: 36px !important;
    line-height: 30px !important;
    font-family: "OpenSans-Bold" !important;
    /*bottom: 240px;*/
    /*position: absolute !important;*/
    font-weight: bold !important;
    padding-bottom: 30px;
}

.video-box-desktop{
    background-color: black;
}

.button-five-text-style-desktop{
    color: #ffffff;
    font-size: 16px !important;
    line-height: 22px !important;
    font-family: 'Open Sans', sans-serif !important;
    text-transform: none;
    font-weight: bold;
}
.img-size-desktop{
    width: 95%;
}
.home5-name-desktop{
    color: #121323;
    font-size: 21px !important;
    line-height: 49px !important;
    font-family: "OpenSans-Bold" !important;
    font-weight: bold !important;
}
.home5-designation-desktop{
    color: #121323;
    font-size: 16px !important;
    line-height: 22px !important;
    font-family: 'Open Sans', sans-serif !important;
}
.img-size-social-desktop{
    width: 10%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}